body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 130px;
  text-align: center;
}

p {
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: rgb(0,25, 175);
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-button {
  font-size: 30px;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  color: rgb(0,25, 175);
  background-color: rgb(255,255,255);
  border-color: rgb(255,255,255);
  border: 0px;
}

.header-button:hover {
  background-color: rgb(185, 194, 247);
}

.channel-description {
  text-align: center;
  padding: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin: 5px;
  max-width: 500px;
  background-color: rgb(185, 194, 247);
}

.list-button {
  background-color: rgb(204, 228, 243);
  border-radius: 5px;
  border: 0px;
}

.list-button:hover {
  background-color: rgb(185, 194, 247);
}

.listing {
  display: inline-block;
}

.day-button, .top-button {
  background-color: rgb(0,25, 175);
  color: rgb(255,255,255);
  font-size: 20px;
  border: 0px;
  padding: 10px;
  border-radius: 5px;
}

.day-button:hover, .top-button:hover {
  background-color: rgb(4, 16, 85);
}


footer {
  position: fixed;
  bottom: 0;
}

@media only screen and (max-width: 755px) {
  .top-button {
    opacity: 0.25;
  }
}